.card {
	background-color: transparent;
}

.card-img-top {
	height: 80vh;
	@media (max-width: 760px) {
		height: auto;
	}
}

.text-muted {
	margin: 0 15px 0 0 !important;
	color: #fff !important;
}

.left {
	color: #46d369 !important;
}

.card-text {
	color: #999;
}

.menu-button {
	display: flex;
	justify-content: space-between;
}

.menu-icons-left {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: 0;
}

.menu-icons-right {
	list-style: none;
}

.margin-icons,
li {
	margin: 10px 15px 10px 0;
}
